In [42]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [43]:
file = ("../Resources/survey_results_2021_edited.csv")
df = pd.read_csv('Resources/survey_results_2021_edited.csv')

df.head()

,ResponseId,MainBranch,Country,US_State,UK_Country,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,Age,Gender,Sexuality,Ethnicity
0,1,I am a developer by profession,Slovakia,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,25-34 years old,Man,Straight / Heterosexual,White or of European descent
1,2,I am a student who is learning to code,Netherlands,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,18-24 years old,Man,Straight / Heterosexual,White or of European descent
2,3,"I am not primarily a developer, but I write co...",Russian Federation,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,18-24 years old,Man,Prefer not to say,Prefer not to say
3,4,I am a developer by profession,Austria,NaN,NaN,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,35-44 years old,Man,Straight / Heterosexual,White or of European descent
4,5,I am a developer by profession,United Kingdom of Great Britain and Northern I...,NaN,England,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,25-34 years old,Man,NaN,White or of European descent

In [44]:
drop = ['Sexuality', 'Ethnicity', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith']
df.drop(drop, inplace=True, axis=1)    

 

df.dropna(axis='index', how='all', subset=['LanguageHaveWorkedWith'])

,ResponseId,MainBranch,Country,US_State,UK_Country,LanguageHaveWorkedWith,LanguageWantToWorkWith,Age,Gender
0,1,I am a developer by profession,Slovakia,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,25-34 years old,Man
1,2,I am a student who is learning to code,Netherlands,NaN,NaN,JavaScript;Python,NaN,18-24 years old,Man
2,3,"I am not primarily a developer, but I write co...",Russian Federation,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,18-24 years old,Man
3,4,I am a developer by profession,Austria,NaN,NaN,JavaScript;TypeScript,JavaScript;TypeScript,35-44 years old,Man
4,5,I am a developer by profession,United Kingdom of Great Britain and Northern I...,NaN,England,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...,...,...
83433,83434,I am a developer by profession,Brazil,NaN,NaN,Java;JavaScript;Kotlin;Objective-C;TypeScript,Kotlin,25-34 years old,Man
83434,83435,I am a developer by profession,United States of America,Texas,NaN,Clojure;Kotlin;SQL,Clojure,25-34 years old,Man
83436,83437,I am a developer by profession,United States of America,New Jersey,NaN,Groovy;Java;Python,Java;Python,25-34 years old,Man
83437,83438,I am a developer by profession,Canada,NaN,NaN,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,25-34 years old,Man
83438,83439,I am a developer by profession,Brazil,NaN,NaN,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,18-24 years old,Man

In [45]:
df.replace(np.nan, "Not Applicable") 
df.fillna('Not Applicable')

,ResponseId,MainBranch,Country,US_State,UK_Country,LanguageHaveWorkedWith,LanguageWantToWorkWith,Age,Gender
0,1,I am a developer by profession,Slovakia,Not Applicable,Not Applicable,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,25-34 years old,Man
1,2,I am a student who is learning to code,Netherlands,Not Applicable,Not Applicable,JavaScript;Python,Not Applicable,18-24 years old,Man
2,3,"I am not primarily a developer, but I write co...",Russian Federation,Not Applicable,Not Applicable,Assembly;C;Python;R;Rust,Julia;Python;Rust,18-24 years old,Man
3,4,I am a developer by profession,Austria,Not Applicable,Not Applicable,JavaScript;TypeScript,JavaScript;TypeScript,35-44 years old,Man
4,5,I am a developer by profession,United Kingdom of Great Britain and Northern I...,Not Applicable,England,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,United States of America,Texas,Not Applicable,Clojure;Kotlin;SQL,Clojure,25-34 years old,Man
83435,83436,I am a developer by profession,Benin,Not Applicable,Not Applicable,Not Applicable,Not Applicable,18-24 years old,Man
83436,83437,I am a developer by profession,United States of America,New Jersey,Not Applicable,Groovy;Java;Python,Java;Python,25-34 years old,Man
83437,83438,I am a developer by profession,Canada,Not Applicable,Not Applicable,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,25-34 years old,Man
83438,83439,I am a developer by profession,Brazil,Not Applicable,Not Applicable,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,18-24 years old,Man